* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 600px;
  margin: 0 auto;
}

#todo_wrapper {
  position: relative;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
#todo_input,
#btn {
  height: 35px;
}
#todo_input {
  width: 100%;
  border: 1px solid #000;
  border-radius: 7px;
  outline: 0;
  padding: 0 7px;
  font-size: 12px;
}
#error {
  display: none;
  margin-top: 10px;
}
#btn {
  width: 75px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 7px;
  border: none;
  background-color: rgb(18, 181, 18);
  color: #fff;
  transform: translateX(1%);
}
#todo_result {
  width: 600px;
  min-height: 100px;
  margin: 20px auto;
}
#todo_result .todo_list {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(172, 172, 172);
  padding: 10px 0;
}
#todo_result .todo_list button {
  width: 75px;
  height: 25px;
  background-color: rgb(240, 68, 68);
  color: #fff;
  border: none;
  border-radius: 7px;
}
.hidden {
  display: none;
}
input[type="checkbox"]:checked + label p {
  text-decoration: line-through;
}
.loading {
  width: 50px;
  height: 50px;
  border: 5px solid #141313;
  border-radius: 100%;
  border-top: 5px solid transparent;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
